<% provide(:title, "Log in") %>

<h1>Log in</h1>
<form>
    <center>
    <p>
<label for="from">Email</label>
<br />
<input type="text" name="email" id="password" value="Email" style="height: 25px; width: 400px;" onclick="this.value=''"/>
<br>
<label for="from">Password</label>
<br>
<input type="text" name="password" id="password" value="Password" style="height: 25px; width: 400px;" onclick="this.value=''"/>
<br>
<input type="submit" name="login" id="login" value="Log in" />
</p>      
    </center>
</form>